/* Pywal + Obsidian integration */
.theme-dark {
  --background-primary:     #0a0c0b;
  --background-secondary:   #53645B;
  --background-modifier:    #A25C4C;
  --text-normal:            #a5d2da;
  --text-muted:             #4F6B93;
  --text-accent:            #648B72;
  --highlight-accent:       #AD966D;
  --interactive-accent:     #639C99;
  --interactive-hover:      #739398;
}
